*{
    box-sizing: border-box;
    text-align: center;
    
}

.row {
    width: 100%;
  
  }
  

h1{
    text-align: center;
}

.container{
   position: relative;
   
}

p{
    border-style: solid;
    border-color: black;
    background-color: rgb(186, 180, 180);
    padding: 20px;
    padding-top: 40px;
    font-size: large;
    
}

#title_1{
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    top: 0px;
    right: 0px;
    position: absolute;
    height: 35px;
    width: 120px;
    padding: 7px;
    
}

#title_2{
    background-color: rgb(197, 30, 58);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    top: 0px;
    right: 0px;
    position: absolute;
    height: 35px;
    width: 120px;
    padding: 7px;
    color: aliceblue;
    
}
#title_3{
    background-color: rgb(244, 223, 130);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    top: 0px;
    right: 0px;
    position: absolute;
    height: 35px;
    width: 120px;
    padding: 7px;
    
}

@media(min-width: 992px){
    .container{
        width: 30%;
        float: left;
        margin: 10px;
        
    }
    
    

}

@media (min-width: 768px) and (max-width: 991px) {
    
    .container{
        width: 33%;
        float: left;
        margin: 10px;
        
    }
    #col_3{
        width: 93%;
    }
    #col_1, #col_2{
        width: 45%;
        
    }
}
@media (max-width: 767px){
    #title_2, #title_1, #title_3{
        margin-top: 0px;
    }

}
